{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div id="html-content-holder">
    <div class="h-entry syndicate-inside">
        
        <h2 class="p-name title syndicate-inside-title">{{ page.title }}</h2>

        {% if page.date %}
        <div class="syndicate-pagedate">
            <time class="dt-published dateandtag hidden" datetime="{{ page.date | date(format="%Y-%m-%d") }}T00:00:00Z">
                {{ page.date | date(format="%Y-%m-%d") }}
            </time>
            <code class="dt-published dateandtag">{{ page.date }}</code>
            
            {% if page.taxonomies.syndicate %}
                {% for tag in page.taxonomies.syndicate %}
                    <code class="u-category dateandtag">{{ tag }}</code>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        <a class="u-url hidden" href="{{ page.permalink }}">{{ page.permalink }}</a>

        <!-- h-card for the author, useful if you display author information -->
        <div class="hidden p-author h-card">
          <a class="u-url" href="{{ config.base_url }}" rel="me">
            <img class="u-photo" src="{{ config.extra.profile }}" alt="Profile photo of {{ config.author }}">
            <span class="p-name">{{ config.author }}</span>
          </a>
        </div>

        <div class="section syndicate-inside-text e-content">
            {{ page.content | safe }}
        </div>

    </div>
</div>

{{ macros::webmention() }}

{% endblock content %}
