{% extends "base.html" %}

{% block content %}

<div class=section>
<h1 class="title">
  {{ page.title }}
</h1>

{% set data = load_data(path="webmention/webmentions.json", format="json") %}

{% for links in data.links %}
    {% if links.target != "https://scientiac.space/" %}
        <div class="target-link">
          <code><a href="{{ links.target }}">{{ links.target }}</a></code>
        </div>
        <div class="webmention webmention-activity">

          <div class="mention-profile">
            {% if links.data.author.photo %}
            <img src="{{ links.data.author.photo }}">
            {% endif %}
            <code><a href="{{ links.data.author.url }}">@{{ links.data.author.name }}</a></code>
          </div>

          {% if links.data.name %}
            <div><a class="external" href="{{ links.source }}">{{ links.data.name }}</a></div>
          {% else %}
            {% if links.activity.type == "reply" %}
              <div>{{ links.data.content | safe }}</div>
            {% else %}
              <div><a class="external" href="{{ links.source }}">The Internet</a></div>
            {% endif %}
          {% endif %}

          <div class="activity-type">
            <code><a href="{{ links.source }}">Type: {{ links.activity.type }}</a></code>
          </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock content %}
