{% macro webmention(type,item) %}
{% if type == 'like-of' or type == "repost-of" or type == "bookmark-of" or type == "follow-of" %}
<li class="list-none">
  <a
        class="reaction"
        rel="nofollow ugc"
        title="{{item.author.name}} {% if item.published %}at {{ item.published }}{% endif %}"
        href="{{item.author.url}}"
      >
        {% if item.author.photo %}
        <img alt="{{item.author.name}}" class="icon rounded-full" src="{{item.author.photo}}">
        {% endif%}
      </a>
</li>
{% elif item.content.html %}
<li class="card mb-lg rounded-lg list-none px py h-cite p-comment h-entry" id="{{item['wm-id']}}">
  <div class="flex items-center flex-wrap p-author h-card">
    {% if item.author.photo %}
      <a
      rel="nofollow ugc"
      title="{{item.author.name}}"
      href="{{item.author.url}}"
      class="mr-sm p-name u-url"
    >
      <img alt="{{item.author.name}}" class="u-photo rounded-full icon" src="{{item.author.photo}}">
    </a>
  {% endif%}
{% if item.author and item.author.name %}
  <a
  rel="nofollow ugc"
  class="mr-sm p-name u-url"
  title="{{item.author.name}}"
  href="{{item.author.url}}"
>
{{ item.author.name }}
</a>
{% else %}
<span class="mr-sm">Unknown</span>
{% endif %}
{% if item.published %}
{% set key = "label_action_"~type %}
<a id="{{item['wm-id']}}" class="mr-sm" href="#{{item['wm-id']}}">{{config.extra[key]}}</a>
<span class="mr-sm"> on</span>
<a
  rel="nofollow ugc"
  class="u-url"
  title="{{ item.published }}"
  href="{{item.url}}"
><time class="dt-published published" datetime="{{item.published}}">{{ item.published | date() }}</time></a>
{% endif %}
<span>:</span>
  </div>
  
<div class="p-content p-name">
  {{ item.content.html | safe }}   
</div>
</li>
{% endif %}

{% endmacro webmention %}
