{% extends "base.html" %}

{% block content %}

<div class="h-entry">
    
    {% if page.date %}
    <div class="pagedate">
        <time class="dt-published dateandtag hidden" datetime="{{ page.date }}T00:00:00Z">
            {{ page.date | date(format="%Y-%m-%d") }}
        </time>
        <code class="dateandtag">{{ page.date }}</code>
        {% if page.taxonomies.writings %}
            {% for tag in page.taxonomies.writings %}
                <code class="u-category dateandtag">Genre: {{ tag }}</code>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    <!-- URL of the page -->
    <a class="u-url hidden" href="{{ page.permalink }}">{{ page.permalink }}</a>

    <div class="section">

        <h1 class="p-name title">{{ page.title }}</h1>

        <!-- h-card for the author, useful if you display author information -->
        <a class="p-author h-card hidden" href="{{ config.base_url }}">
          <img class="u-photo" src="{{ config.extra.profile }}" alt="Your profile picture">
            <span class="p-name">{{ config.author }}</span>
        </a>

        <div class="e-content">
            {{ page.content | safe }}
        </div>

    </div>

</div>

<!-- Webmention -->

<div>
<hr>

<h2>Response</h2>

<form class="webmention-form" action="https://webmention.io/scientiac.space/webmention" method="post">

  <div id="email-comment">
     <p>Have you written a <a href="https://indieweb.org/responses">response</a> to this? Let me know the URL,
       Or, you can send your response via <a href="mailto:iac@scientiac.space?subject={{ "Reply: " ~ page.title | urlencode }}">mail:</a><code>iac@scientiac.space</code>
     </p>
  </div>

  <div class="send-webmention">
    <input type="url" name="source">
    <button type="submit">Send Webmention</button>
  </div>

  <div>
    <div class="ui message"></div>
  </div>

  <input type="hidden" name="target" value="{{current_url}}">
</form>

</div>

<!-- Webmention -->


{% endblock content %}
