{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="h-entry">
    
    <!-- URL of the page -->
    <a class="u-url hidden" href="{{ page.permalink }}">{{ page.permalink }}</a>

    <div class="section">

        <h1 class="p-name title">{{ page.title }}</h1>

        {% if page.date %}
        <div class="pagedate">
            <time class="dt-published dateandtag hidden" datetime="{{ page.date }}T00:00:00Z">
                {{ page.date | date(format="%Y-%m-%d") }}
            </time>
            <code class="dateandtag">{{ page.date }}</code>
            {% if page.taxonomies.writings %}
                {% for tag in page.taxonomies.writings %}
                    <code class="u-category dateandtag">{{ tag }}</code>
                    {% set genre = tag %}
                {% endfor %}
            {% endif %}
        </div>
            <p></p>
        {% endif %}

        <!-- h-card for the author, useful if you display author information -->
        <div class="hidden p-author h-card">
          <a class="u-url" href="{{ config.base_url }}" rel="me">
            <img class="u-photo" src="{{ config.extra.profile }}" alt="Profile photo of {{ config.author }}">
            <span class="p-name">{{ config.author }}</span>
          </a>
        </div>

        <div class="e-content">
            {{ page.content | safe }}
        </div>

    </div>

</div>

{{ macros::webmention() }}

{% endblock content %}
